:root {
  color: #333;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

a {
  display: flex;
}

a, body, div, html, img, li, nav, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  align-self: center;
  display: flex;
  height: 100%;
  width: auto;
}

ul {
  list-style: none;
}

/* ========== Menu ===============*/

.item {
  align-items: center;
  display: flex;
  font-size: .75rem;
  height: 32px;
  justify-content: center;
  margin: 0 12px 0 0;
  width: 32px;
}

.item--first {
  margin: 0 20px 0 0;
}

.item--last {
  margin: 0;
}

.item--menu {
  background-image: url('menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 41%;
  height: 40px;
  transition: all .2s ease-in-out;
  width: 40px;
}

.item--menu:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.item--middle {
  margin: 0 28px 0 0;
}

.item--profile {
  background: url('https://lh3.googleusercontent.com/ogw/ADea4I5uu_seTUPNaZrGh8HRtNrLT6kpyFqpTrg3ed6M=s32-c-mo') no-repeat;
  background-size: contain;
  cursor: pointer;
}

.item--rounded {
  border-radius: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.user {
  height: 32px;
  width: 32px;
}

.menu {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
  padding: 12px 20px 0;
}

/* ========== Content ==========*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  align-self: end;
  margin: 0 auto;
  position: relative;
}

.icon {
  background-color: rgb(235, 222, 222);
  border-radius: 50%;
  height: 48px;
  margin-bottom: 10px;
  width: 48px;
  display: flex;
  justify-content: center;
}

.icon img {
  margin-top: 10px;
  width: 25px;
  height: 25px;
}

.input {
  width: 100%;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.input input {
  background-image: url(search.svg);
  background-position-y: center;
  background-position-x: 3%;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 24px;
  box-shadow:  0 0 0.5em rgba(109, 109, 98, 0.377);
  font-size: 15px;
  margin-bottom: 20px;
  width: 512px;
  padding: 12px 0px 12px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  background: url(phone.svg);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border: none;
  right: 500px;
  cursor: pointer;
}


.logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  margin-top: 112px;
}

.recents {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 560px;
  margin-top: 50px;
}

.recents a {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height:112px;
  padding: 16px;
  text-decoration: none;
  width: 112px;
}

.recents a:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.recents span {
  color: black;
  font-size: 12px;
}